<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.mapper.ProductMapper">

	<insert id="insert">
	<![CDATA[
		INSERT INTO products (pnum, productName, title, status, sell_price, description, seller_id)
		VALUES (#{pnum}, #{productName}, #{title}, #{status}, #{sell_price}, #{description}, #{seller_id})
	]]>
	</insert>
	
	<delete id="deleteAll">
	<![CDATA[
		DELETE FROM products
	]]>
	</delete>

	<select id="nextNum" resultType="int">
	<![CDATA[
		SELECT IFNULL(MAX(pnum), 0) + 1 AS pnum FROM products
	]]>
	</select>

	<select id="getProducts" resultType="ProductVO">
	<![CDATA[
		SELECT * 
		FROM products
		ORDER BY pnum DESC
	]]>
	</select>

	<select id="getTotalCount" resultType="int">
	<![CDATA[
		SELECT COUNT(*)
		FROM products
	]]>
	</select>

</mapper>